
* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  //overflow: hidden;
}

nav {
  position: relative;
  z-index: 10;
  ul {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #666;
    background-color: #222;
    color: #FFF;
    li {
      display: inline-block;
      padding: 10px 0;
      margin: 1px;
      text-align: center;
      a {
        padding: 10px 15px;
        color: #EEE;
        text-decoration: none;
        &.active, &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 5px;
  tr {
    border-bottom: 1px solid #000;
    td {
      padding: 5px 2px;
    }
    td:first-child {
      padding: 5px 2px 5px 5px;
    }
    td:last-child {
      padding: 5px 5px 5px 2px;
    }
  }
}

.adminBadge, .lockedBadge {
  width: 16px;
  height: 16px;
  display: inline-block;
  position: relative;
  top: 1px;
  
}

.adminBadge {
  background: url(/icons/star.png);
}

.lockedBadge {
  background: url(/icons/lock.png);
}

.padded {
  padding: 15px;
}

#loginUsernameButton, #loginEmailButton, #createNewAccount, #loginU, #loginE, #loginBack {
  width: 100%;
  padding: 10px;
  font-size: 1.1em;
}

#loginForms, #loginUsername, #loginEmail, #afterOrgPick {
  display: none;
}

.limitedWidth {
  width: 100%;
  max-width: 680px;
  margin: 0 auto 0;
  h2 {
    margin: 0;
    padding: 20px 0;
  }
}

.fullPage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 43px;
  transition: padding-top 0.3s ease-out;
}

.third {
  width: 33.33%;
  float: left;
  height: 100%;
}
.twothirds {
  width: 66.66%;
  float: left;
  height: 100%;
}

select, input[type=text], input[type=email], input[type=password], textarea, div.mce-tinymce {
  width: 100%;
  margin-bottom: 5px;
}
input[type=checkbox], #userEdit button {
  margin-bottom: 12px;
}
textarea {
  resize: vertical;
  min-height: 6em;
  height: 6em;
}

#userEdit, #settingsArea, #userList, #logPage > div {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.cover, .coverText, .coverTextSmall {
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  position: absolute;
}

.coverText, .coverTextSmall {
  z-index: 1001;
  text-align: center;
  color: #FFF;
  text-shadow: 0px 0px 10px #000;
}

.cover {
  z-index: 1000;
  background: #000;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.coverText {
  font-size: 2em;
  width: 200px;
  height: 100px;
  margin: auto;
}

.coverTextSmall {
    font-size: 1em;
    width: 100%;
    height: 30px;
    margin-top: auto;
}