
* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  //overflow: hidden;
}

nav {
  position: relative;
  z-index: 10;
  ul {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #666;
    background-color: #222;
    color: #FFF;
    li {
      display: inline-block;
      padding: 10px 0;
      margin: 1px;
      text-align: center;
      a {
        padding: 10px 15px;
        color: #EEE;
        text-decoration: none;
        &.active, &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  tr {
    border-bottom: 1px solid #000;
  }
}

.adminBadge, .lockedBadge {
  width: 16px;
  height: 16px;
  display: inline-block;
  position: relative;
  top: 1px;
  
}

.adminBadge {
  background: url(/icons/star.png);
}

.lockedBadge {
  background: url(/icons/lock.png);
}

.padded {
  padding: 15px;
}

.fullPage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 43px;
  transition: padding-top 0.3s ease-out;
}

.third {
  width: 33.33%;
  float: left;
  height: 100%;
}
.twothirds {
  width: 66.66%;
  float: left;
  height: 100%;
}

select, input[type=text], input[type=email], input[type=password] {
  width: 100%;
  margin-bottom: 5px;
}

#userEdit {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
#userList {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {

    }
  }
}
