{
  "proxyServer": {
    "domain": "example.com",
    "port": 4567
  },
  "domain": "example.com",
  "loginServer": {
    "domain": "example.com",
    "port": 4568
  },
  "mysql": {
    "host":     "localhost",
    "user":     "proxive",
    "pass":     "password",
    "database": "proxive"
  },
  "redisConfig": {
    "host": "localhost",
    "port": 6379
  },
  "pug": {
    "viewDir": "../views/",
    "pretty": true
  },
  "serverPrivateKey": "",
  "publicSalt": "salt",
  "development": false,
  "https": true,
  "specialRedirects": [
    ["http://example.com", "http://example.org"]
  ],
  "orgFreetext": [
    "org-that-has-organization-freetext"
  ],
  "email": {
    "address": "Noreply <noreply@example.com>",
    "nodemailer": {
      "host": "example.com",
      "port": 587,
      "secure": false,
      "auth": {
        "user": "noreply@example.com",
        "pass": "example.com"
      },
      "tls": {
        "rejectUnauthorized": true
      }
    }
  },
  "webmasterEmail": "example@example.org"
}