{
  "proxyServer": {
    "domain": "example.com",
    "port": 4567
  },
  "domain": "example.com",
  "loginServer": {
    "domain": "example.com",
    "port": 4568
  },
  "mysql": {
    "host":     "localhost",
    "user":     "proxive",
    "pass":     "password",
    "database": "proxive"
  },
  "pug": {
    "viewDir": "../views/",
    "pretty": true
  },
  "serverPrivateKey": "",
  "publicSalt": "salt",
  "development": false
}