
extends layout

block content
  - var currentPage = 'users'
  include ./includes/admin-navbar.pug

  div.fullPage
    div.third#userList
      div#userFilter
      table
        tbody
          tr(id='user-new')
            td(colspan='3') Ny användare
          for user in users
            tr(id='user-'+user.id)
              td=user.fname+' '+user.lname
              td=user.workplace
              td
                if user.admin > 0
                  span.adminBadge
                if user.locked
                  span.lockedBadge
    div.twothirds.padded#userEdit
      input(type='hidden' name='id' value='new' autocomplete='off')#id
      label
        | Förnamn
        input(type='text' name='fname' autocomplete='off')#fname
      label
        | Efternamn
        input(type='text' name='lname' autocomplete='off')#lname
      label
        | Användarnamn
        input(type='text' name='username' autocomplete='off')#username
      label
        | Lösenord (ändras inte om fältet lämnas tom)
        input(type='password' name='password' autocomplete='off')#password
      label
        | Arbetsplats
        input(type='text' name='workplace' autocomplete='off')#workplace
      label
        | Organisation (fritext)
        input(type='text' name='organization' autocomplete='off')#organization
      label
        | Organisation
        select(name='organizationId' autocomplete='off')#organizationId
          for organization in organizations
            option(value=organization.organization_id)=organization.organization_name
      label
        | E-post
        input(type='email' name='email' autocomplete='off')#email
      label
        | Privat e-post
        input(type='email' name='pemail' autocomplete='off')#pemail
      label
        | Skapad
        input(type='text' name='created' autocomplete='off' readonly='readonly')#created
      label
        | Uppdaterad
        input(type='text' name='updated' autocomplete='off' readonly='readonly')#updated
      label
        input(type='checkbox' name='admin' autocomplete='off')#admin
        | Admin
      label
        input(type='checkbox' name='lock' autocomplete='off')#lock
        | Lås
      div
        button(type='button')#saveUserDetails Spara
        button(type='button')#deleteUser Ta bort

  script(defer='defer' src='/js/jquery-3.1.0.min.js')
  script(defer='defer' src='/js/admin.js')