doctype html
html
  head
    title Proxive 2.0 ALPHA
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body
    h2 Proxive
    h3 Blockerad länk
    p=url
    p Länken du försökte gå till är inte vitlistad, det är därför du ser denna sida.
    p Tycker du att länken är felblockerad? Skicka ett mail till x /TODO
    p Du kan prova att gå till länken utanför proxyn genom att klicka #[a(href=url) här].
