
extends layout

block content
  div.limitedWidth
    div
      h2 PROXIVE
      noscript Du måste ha JavaScript aktiverat för att fortsätta!
      div.formBox
        h3 Användning av kakor (cookies)
        p Proxive använder kakor när du loggar in för att kunna hålla dig inloggad i systemet.