
extends layout

block content
  div
    h2 Proxive
    h3 Open Source / Öppen Källkod
    p Proxive är Öppen källkod under AGPLv3.
    p Projektet finns på Github här #[a(href='https://github.com/ldbib/proxive') https://github.com/ldbib/proxive]