
extends layout

block content
  div
    h2 Proxive
    h3 Behandling av personuppgifter
    p Proxive lagrar de personuppgifter som du angivit i enlighet med personuppgiftslagen (PUL).
    p Endast behöriga administratörer ifrån de olika organisationerna kan komma åt de uppgifter du anger.