
extends layout

block content
  div.limitedWidth
    div
      h2 Proxive - Återställningslänk skickad
      p Nu har en återställningslänk skickats till dig. Får du inget mail så får du kontakta din organization.
