
extends layout

block content
  div.limitedWidth
    h2 PROXIVE
    div.formBox
      h3 Lyckades
      div.arrow
      h2 Proxive - Återställningslänk skickad
      p Nu har en återställningslänk skickats till dig. Får du inget mail så får du kontakta din organisation.
