
extends layout

block content
  div.limitedWidth
    div
      h2 PROXIVE
      div.formBox
        h3 Lösenordet bytt!
        div.arrow
        p Ditt lösenord har uppdaterats! Logga in #[a(href='/') här]!
