
extends layout

block content
  div.limitedWidth
    div
      h2 Proxive - Lösenordsåterställning
      if error
        p=error
        hr
      form(action="/resetPassword" method="POST")
        input(type="hidden" name="u" value=key)
        label Lösenord
          input(type="password" name="password" required placeholder="Lösenord")#password
        label Verifiera Lösenord
          input(type="password" name="passwordV" required placeholder="Lösenord")#passwordV
        input(type="submit" value='Byt lösenord')

