
extends layout

block content
  div.limitedWidth
    div
      h2 Proxive - Användare skapad
      p Din användare är nu skapad! Administratörerna måste nu låsa upp ditt konto för att du ska kunna använda det. Du får då ett mejl ifrån oss.
