
extends layout

block content
  div.limitedWidth
    div
      h2 Proxive
      div.formBox
        h3 Användare skapad
        div.arrow
        p Din användare är nu skapad! Administratörerna måste nu låsa upp ditt konto för att du ska kunna använda det. Du får då ett mejl ifrån oss.
