* {
  box-sizing: border-box; }

html, body {
  font-family: Helvetica, Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  color: #373737;
  background: #51524f;
  background: -moz-linear-gradient(top, #51524f 0%, #191a18 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #51524f), color-stop(100%, #191a18));
  background: -webkit-linear-gradient(top, #51524f 0%, #191a18 100%);
  background: -o-linear-gradient(top, #51524f 0%, #191a18 100%);
  background: -ms-linear-gradient(top, #51524f 0%, #191a18 100%);
  background: linear-gradient(to bottom, #51524f 0%, #191a18 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#51524f', endColorstr='#191a18', GradientType=0 ); }

nav {
  position: relative;
  z-index: 10;
  margin: -5px 0; }
  nav h1 {
    font-size: 1.4em;
    color: #F4F4F4;
    letter-spacing: 2px;
    border-bottom: 3px dotted #F4F4F4;
    margin: 0 0 0 20px;
    padding: 0; }
  nav ul {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #666;
    background: #51524f;
    background: -moz-linear-gradient(top, #51524f 0%, #191a18 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #51524f), color-stop(100%, #191a18));
    background: -webkit-linear-gradient(top, #51524f 0%, #191a18 100%);
    background: -o-linear-gradient(top, #51524f 0%, #191a18 100%);
    background: -ms-linear-gradient(top, #51524f 0%, #191a18 100%);
    background: linear-gradient(to bottom, #51524f 0%, #191a18 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#51524f', endColorstr='#191a18', GradientType=0 );
    color: #F4F4F4; }
    nav ul li {
      display: inline-block;
      padding: 10px 0;
      margin: 0;
      text-align: center;
      border-right: 1px solid #000; }
      nav ul li a {
        padding: 10px 15px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.9em;
        text-shadow: 2px 2px 2px #000;
        color: #F4F4F4;
        text-decoration: none; }
        nav ul li a.active, nav ul li a:hover {
          text-decoration: underline; }

table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  margin-bottom: 5px; }
  table tr {
    border-bottom: 1px solid #373737;
    color: #373737;
    cursor: pointer; }
    table tr td {
      padding: 5px 2px; }
    table tr td:first-child {
      padding: 5px 2px 5px 5px; }
    table tr td:last-child {
      padding: 5px 5px 5px 2px; }

#userList table {
  width: 100%;
  height: auto;
  border-collapse: collapse;
  margin-bottom: 5px; }
  #userList table tr {
    border: 1px solid #E7E7E7;
    background: #FFFFFF;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px; }
    #userList table tr:hover {
      background: #26BDA6;
      color: #F4F4F4; }
  #userList table td {
    padding: 5px 2px; }
  #userList table td:first-child {
    padding: 5px 2px 5px 5px; }
  #userList table td:last-child {
    padding: 5px 5px 5px 2px; }

.user-search-form {
  margin: 0 auto 20px auto; }

.adminBadge, .lockedBadge, .removeBadge {
  width: 16px;
  height: 16px;
  display: inline-block;
  position: relative;
  top: 1px; }

.adminBadge {
  background: url(/icons/star.png); }

.lockedBadge {
  background: url(/icons/lock.png); }

.removeBadge {
  background: url(/icons/cancel.png); }

.padded {
  padding: 15px; }

.bigButton {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  font-size: 1.1em;
  background: #26BDA6;
  border: 0;
  color: #F4F4F4;
  border-radius: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s; }

.bigButton:hover {
  background: #1d9583; }

#loginForms, #loginUsername, #wiu, #afterOrgPick {
  display: none; }

.limitedWidth {
  width: 100%;
  max-width: 680px;
  margin: 0 auto 0; }
  .limitedWidth h2 {
    font-size: 2.2em;
    color: #F4F4F4;
    letter-spacing: 2px;
    display: inline-block;
    border-bottom: 3px dotted #F4F4F4;
    margin: 0;
    padding: 20px 0 0 0;
    margin-bottom: 20px; }
  .limitedWidth h3 {
    background: #26BDA6;
    color: #F4F4F4;
    padding: 15px 60px 15px 55px;
    display: inline-block;
    font-weight: normal;
    margin: 0 0 0 -55px; }
  .limitedWidth h4 {
    font-size: 0.9em;
    margin: 5px 0;
    padding: 0; }

.arrow {
  margin: 0 0 0 -55px;
  width: 0;
  height: 0;
  border-bottom: 10px solid transparent;
  border-top: 0 solid transparent;
  border-right: 15px solid #1d9583; }

#loginSelector {
  background: #F4F4F4;
  border: 0;
  padding: 40px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px; }

#loginForms {
  background: #F4F4F4;
  border: 0;
  padding: 40px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px; }
  #loginForms a {
    color: #373737; }
  #loginForms label {
    color: #373737;
    font-size: 0.9em; }

.formBox {
  color: #373737;
  background: #F4F4F4;
  border: 0;
  padding: 40px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px; }
  .formBox a {
    color: #373737; }
  .formBox label {
    color: #373737;
    font-size: 0.9em; }
  .formBox hr {
    border: 0;
    border-top: 1px solid #26BDA6; }

.errorPage {
  position: absolute;
  background: #F4F4F4;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px; }

.fullPage {
  position: absolute;
  background: #F4F4F4;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  padding-top: 63px; }
  .fullPage button {
    color: #F4F4F4;
    font-weight: bold;
    font-size: 0.9em;
    background: #26BDA6;
    border: 0;
    padding: 7px;
    margin: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px; }
    .fullPage button:hover {
      background: #1d9583; }

.fullPageUsers {
  position: absolute;
  background: #F4F4F4;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 63px; }
  .fullPageUsers button {
    color: #F4F4F4;
    font-weight: bold;
    font-size: 0.9em;
    background: #26BDA6;
    border: 0;
    padding: 7px;
    margin: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px; }
    .fullPageUsers button:hover {
      background: #1d9583; }

.third {
  padding: 20px;
  width: 33.33%;
  float: left;
  height: 100%; }

.twothirds {
  width: 66.66%;
  float: left;
  height: 100%;
  padding: 20px; }

footer ul {
  list-style-type: none; }
  footer ul li {
    display: inline; }
    footer ul li a {
      color: #F4F4F4;
      text-decoration: none;
      font-size: 0.8em;
      border-right: 1px solid #F4F4F4;
      padding: 0 10px; }
    footer ul li a:hover {
      text-decoration: underline; }
footer p {
  color: #F4F4F4;
  text-align: center;
  font-size: 0.8em; }

.no-border {
  border: 0; }

select, input[type=text], input[type=email], input[type=password], textarea, div.mce-tinymce {
  width: 100%;
  margin-bottom: 5px;
  padding: 5px; }

#user-search {
  width: 70%;
  margin: 0 0 20px 0;
  padding: 8px 5px; }

#user-search-btn {
  margin: 0; }

#logFilterUserText {
  width: 50%; }

#tinymce {
  background: #FFFFFF;
  padding: 15px;
  font-size: 1.0em; }

input[type=checkbox], #userEdit button {
  margin-bottom: 12px; }

textarea {
  resize: vertical;
  min-height: 6em;
  height: 6em; }

#userEdit, #settingsArea, #userList, #logPage > div {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden; }

#settingsArea h2 {
  margin: 0 0 20px 0;
  padding: 0; }

#logPage {
  padding: 20px;
  margin-top: 20px; }

#logs th {
  text-align: left;
  background: #F4F4F4;
  border: 1px solid #F4F4F4;
  padding: 5px 2px; }
#logs th:first-child {
  padding: 5px 2px 5px 5px; }
#logs th:last-child {
  padding: 5px 5px 5px 2px; }
#logs tr {
  border: 1px solid #E7E7E7;
  background: #FFFFFF;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px; }
  #logs tr:hover {
    background: #FFFFFF;
    color: #373737; }
#logs td {
  padding: 5px 2px; }
#logs td:first-child {
  padding: 5px 2px 5px 5px; }
#logs td:last-child {
  padding: 5px 5px 5px 2px; }

#edit-user {
  background: #26BDA6;
  color: #F4F4F4;
  padding: 15px 15px;
  font-weight: normal;
  margin: 0 0 20px 0; }

#user-new {
  margin: 0 0 20px 0; }

#signUpAgr {
  margin: 5px 0 15px 0;
  border-radius: 5px;
  padding: 10px;
  font-size: 0.9em;
  border: 1px solid #E7E7E7; }

.cover, .coverText, .coverTextSmall {
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  position: absolute; }

.coverText, .coverTextSmall {
  z-index: 1001;
  text-align: center;
  color: #FFF;
  text-shadow: 0px 0px 10px #000; }

.cover {
  z-index: 1000;
  background: #000;
  width: 100%;
  height: 100%;
  opacity: 0.8; }

.coverText {
  font-size: 2em;
  width: 200px;
  height: 100px;
  margin: auto; }

.coverTextSmall {
  font-size: 1em;
  width: 100%;
  height: 30px;
  margin-top: auto; }

.startLink a {
  color: #373737;
  text-decoration: underline; }

/*# sourceMappingURL=style.css.map */
